<<<<<<< HEAD
		<form method="get" action="/quizes/answer">
=======
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Pregunta: </h2>

		<form methods="get" action="/quizes/answer">
>>>>>>> origin/master
			Pregunta: <%= pregunta %> <p>
			<input type="text" name="respuesta" value="Respuesta" />
			<input type="submit" value="Enviar">
		</form>
